@model AdvertisementMVC.ViewModels.AdvertisementViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Advertisement";
}

<div class="advertisement__container">
    <div class="advertisement__card">
        <div class="advertisement__card-image-container">
            <img src="@Model.ImageBin" class="advertisement__card-image" alt="Ad">
        </div>

        <div class="advertisement__card-text-container">
            <div class="advertisement__card-inner-container-top">
                <p class="advertisement__card-address">@Model.StreetName @Model.StreetNumber</p>
                <p class="advertisement__card-city">@Model.City</p>
            </div>

            <p class="advertisement__card-property-type">
                @if (@Model.PropertyType == "Villa")
                {
                    <img src="../images/lease-type-house.png">
                }
                else if (@Model.PropertyType == "Lägenhet")
                {
                    <img src="../images/lease-type-apartment.png">
                }

                @Model.PropertyType
            </p>

            <p class="advertisement__card-lease-type">@Model.LeaseType</p>

            <div class="advertisement__card-inner-container-bottom">
                <p class="advertisement__card-price-and-area">@(Model.ListPrice.ToString("N0").Replace(",", " ")) kr <span>@Model.Area m²</span></p>
            </div>

            <br>
            <p class="advertisement__card-lease-type"><strong>Kontakta mäklare: </strong>realtor@homefinder.com</p>
            
            <p class="advertisement__card-lease-type">Ett extraordinärt boende i exklusivt läge! Detta magnifika hus är en sällsynt möjlighet att förvärva en unik fastighet i en av stadens mest eftertraktade områden. Beläget på en generös tomt omgärdat av grönska och vackra trädgårdar, erbjuder detta hem en fantastisk livsstil och en oöverträffad privat atmosfär.<br><br>
Husets imponerande yta på [specificera yta] kvm är spridd över flera plan och erbjuder rymliga och välplanerade rum. Här finner du hög kvalitet i varje detalj, från de handgjorda snickerierna till den påkostade inredningen. Köket är utrustat med moderna och högteknologiska apparater och öppnar upp mot en härlig utomhusplats, perfekt för grillkvällar och avkoppling.<br><br>
Husets sovrum är en plats av frid och lyx, varje rum utrustat med egna badrum och rikligt med garderobsutrymme. Här finns också ett hemmabiosystem, ett gym och en bastu, allt för att ge dig maximal komfort och avkoppling.<br><br>
Utomhusområdet är en fröjd för ögat, med vackra trädgårdar, en pool och flera utomhusplatser som gör det lätt att njuta av det härliga klimatet. Det finns också en gäststuga som kan användas som en separat bostad eller som en plats för gäster att bo.<br><br>
Detta är en sällsynt chans att förvärva en fastighet av högsta kvalitet i en av stadens mest eftertraktade områden. Kontakta oss för att boka en visning och se själv vad detta hem har att erbjuda!</p>
        </div>
    </div>
</div>

@* <div class="advertisements__card">
    <div class="advertisements__card-image-container">
        <img src="@Model.ImageBin" class="advertisements__card-image" alt="Ad">
    </div>

    <div class="advertisements__card-text-container">
        <div class="advertisements__card-inner-container-top">
            <p class="advertisements__card-address">@Model.StreetName @Model.StreetNumber</p>
            <p class="advertisements__card-city">@Model.City</p>
        </div>

        <p class="advertisements__card-property-type">
            @if (@Model.PropertyType == "Villa")
            {
                <img src="../images/lease-type-house.png">
            }
            else if (@Model.PropertyType == "Lägenhet")
            {
                <img src="../images/lease-type-apartment.png">
            }

            @Model.PropertyType
        </p>

        <p class="advertisements__card-lease-type">@Model.LeaseType</p>

        <div class="advertisements__card-inner-container-bottom">
            <p class="advertisements__card-price-and-area">@(Model.ListPrice.ToString("N0").Replace(",", " ")) kr <span>@Model.Area m²</span></p>
        </div>
    </div>
</div> *@
