@model IEnumerable<AdvertisementMVC.ViewModels.AdvertisementViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Advertisements";
}

    <div class="container-big">
        <div class="advertisement__container">
            <div class="search__container">
                <p>Sökfilter</p>
                <hr>
                <p>Skriv adress</p>
                <p>Ange pris</p>
                <button class="search__container-btn-sort">Filtrera efter bostad</button>
            </div>
                @foreach (var ad in Model)
                {
                    <div class="advertisement__card">
                        <img src=@ad.ImageUrl class="advertisement-card__image" alt="Image of ad">
                        <p>@ad.StreetName @ad.StreetNumber<br>
                           @ad.City<br>
                           @(ad.ListPrice.ToString("N0").Replace(",", " ")) kr <span>@ad.Area m²</span></p>
                    </div>
                }
        </div>
    </div>

int number = 2400000;
string formattedNumber = number.ToString("N0").Replace(",", " ");
Console.WriteLine(formattedNumber); 