@model IEnumerable<AdvertisementMVC.ViewModels.AdvertisementViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Advertisements";
}

<div class="advertisements">
        
        @Html.Partial("_SearchFilterPartial")

        <hr>
        <div class="advertisements__container">
            @foreach (var ad in Model)
            {
                <div class="advertisements__card">
                    <div class="advertisements__card-image-container">
                        <img src=@ad.ImageUrl class="advertisements__card-image" alt="Ad">
                    </div>
                    <div class="advertisements__card-text-container">
                        <div class="advertisements__card-inner-container-top">
                            <p class="advertisements__card-address">@ad.StreetName @ad.StreetNumber</p>
                            <p class="advertisements__card-city">@ad.City</p>
                        </div>

                        <p class="advertisements__card-lease-type"><img src="@ad.LeaseTypeIconUrl"> @ad.LeaseType</p>

                        <div class="advertisements__card-inner-container-bottom">
                            <p class="advertisements__card-price-and-area">@(ad.ListPrice.ToString("N0").Replace(",", " ")) kr <span>@ad.Area m²</span></p>
                            <img src="../images/arrow-right.png">
                        </div>
                    </div>
                </div>
            }
        </div>
</div>