@model IEnumerable<AdvertisementMVC.ViewModels.AdvertisementViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Advertisements";
    var filter = new AdvertisementMVC.ViewModels.AdvertisementFilterViewModel();
}

<div class="advertisements">
        
        @Html.Partial("_SearchFilterPartial", filter)

        <hr>
        <div class="advertisements__container">
            @foreach (var ad in Model)
            {
                <div class="advertisements__card">
                    <div class="advertisements__card-image-container">
                        <img src=@ad.ImageBin class="advertisements__card-image" alt="Ad">
                    </div>

                    <div class="advertisements__card-text-container">
                        <div class="advertisements__card-inner-container-top">
                            <p class="advertisements__card-address">@ad.StreetName @ad.StreetNumber</p>
                            <p class="advertisements__card-city">@ad.City</p>
                        </div>
        
                    <p class="advertisements__card-property-type">
                    @if (@ad.PropertyType == "Villa")
                        {
                            <img src="../images/lease-type-house.png">
                        }
                        else if (@ad.PropertyType == "Lägenhet")
                        {
                            <img src="../images/lease-type-apartment.png">
                        }

                        @ad.PropertyType
                    </p>
                        <p class="advertisements__card-lease-type">@ad.LeaseType</p>

                        <div class="advertisements__card-inner-container-bottom">
                            <p class="advertisements__card-price-and-area">@(ad.ListPrice.ToString("N0").Replace(",", " ")) kr <span>@ad.Area m²</span></p>
                            <img src="../images/arrow-right.png">
                        </div>
                    </div>
                </div>
            }
        </div>
</div>